!vapi
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.*
configure
depcomp
install-sh
intltool-*.in
missing
mkinstalldirs
po/*.gmo
po/Makefile*
po/POTFILES
po/etherpush.pot
po/stamp-it
src/*.c
src/*.o
src/.deps/
src/Makefile
src/Makefile.in
src/etherpush
src/etherpush_vala.stamp
stamp-h1
