!vapi/*
*.stamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.*
configure
depcomp
install-sh
intltool-*.in
missing
mkinstalldirs
po/*.pot
po/Makefile*
po/POTFILES
po/de.gmo
po/stamp-it
src/.deps/
src/Makefile
src/Makefile.in
src/client.c
src/error-dialog.c
src/etherpush
src/etherpush-*.o
src/incoming-dialog.c
src/send-dialog.c
src/server.c
stamp-h1
